@model ShopTARgv24.Models.Spaceships.ImageViewModel

@{
    var photoPath = "~/multipleFileUpload/" + (Model.FilePath ?? "noimage.jpg");
}

<div class="form-group rounded col-sm-4 offset-2">
    <div>@Model.FilePath</div>
    <img class="card-image-top" src="@photoPath" asp-append-version="true" width="500" />
</div>