@model ShopTARgv24.Models.Kindergartens.KindergartenImageViewModel

<div class="form-group row col-sm-8 offset-2">
    <div>@Model.ImageTitle</div>
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
</div>
